.btn {
    background-color: #832232;
    border-color: #832232;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-check-input:checked {
    background-color: #832232;
    border-color: #832232;
}

h3 {
    margin-bottom: 20px;
}