h1 {
    font-family: 'Castoro', serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.form-check-input {
    margin-left: 5px;
}

.form-check-label {
    margin-left: 2px;
}

#phone-number {
    margin-bottom: 5px;
}

.btn {
    margin-top: 5px;
    background-color: #832232;
    color: white;
    margin-bottom: 10px;
}