#banner {
    width: 100%;
    background-color: #91C499;
    height: 200px;
    background-position: center;
    padding: 0px;
    text-align: center;
}

#welcome {
    text-align: center;
    line-height: 175px;
}

h1 {
    font-family: 'Castoro', serif;
    font-weight: 400;
    font-size: 200px;
}