{% extends 'base.html' %}
{% block title %}Admin Delete Appointment Slots{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Delete Appointment Slots</h1>
    <div>Select the appointment slots you would like to delete</div>
    <form action="/handle-delete-appt-slots" method="POST">
    {% for slot in avail_appts %}
        <input type="checkbox" name="avail-slot" value="{{slot.start_time}}">
        <label>{{ slot.start_time }}</label><br>
    {% endfor %}
        <input type="submit" name="submit" id="delete-appt-slot">
    </form>
</div>
{% endblock %}