{% extends 'base.html' %}
{% block title %}Appointments{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Time</th>
        <th>Name</th>
    </tr>
    {% for appt in upcoming_appts %}
        <tr>
            <td>{{ appt.appointment_slot.start_time }}</td>
            <td>{{ appt.user.fname }} {{ appt.user.lname }}</td>
        </tr>
    {% endfor %}
    <!-- <tr>
        <td>9:00</td>
        <td>Test Name</td>
    </tr> -->
</table>
{% endblock %}

<!-- Admin can choose a day -->
<!-- All appointments scheduled for that day show -->
<!-- Should also display user and household info -->