{% extends 'base.html' %}
{% block title %}Appointments{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/appointments.css">
{% endblock %}

{% block body %}
<div class="container">
    <h1>All Upcoming Appointments</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Name</th>
                <th scope="col">People in Household</th>
                <th scope="col">Wants Peanut Butter</th>
                <th scope="col">Picking Up for Someone Else</th>
                <th scope="col">Picking Up For</th>
                <th scope="col">Allergies</th>
                <th scope="col">Special Requests</th>
                <th scope="col">Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for appt in upcoming_appts %}
            <tr>
                <td>{{ upcoming_appts[appt] }}</td>
                <td>{{ appt.user.fname }} {{ appt.user.lname }}</td>
                <td>{{ appt.household.num_people }}</td>
                {% if appt.household.wants_peanut_butter == True %}
                    <td><span>&#10003;</span></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ appt.household.picking_up_for_another }}</td>
                <td>{{ appt.household.another_pickup_name }}</td>
                {% if appt.household.allergies == None %}
                    <td></td>
                {% else %}
                    <td>{{ appt.household.allergies }}</td>
                {% endif %}
                {% if appt.household.special_requests == None %}
                    <td></td>
                {% else %}
                    <td>{{ appt.household.special_requests }}</td>
                {% endif %}
                <td>{{ appt.user.phone_number }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

<!-- Admin can choose a day -->
<!-- All appointments scheduled for that day show -->
<!-- Should also display user and household info -->