{% extends 'base.html' %}
{% block title %}PanTrack Create an Account{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<h1>Create an account</h1>
<form action="/handle-create-account" method="POST">
    <label>First Name</label>
    <input type="text" name="fname"><br>

    <label>Last Name</label>
    <input type="text" name="lname"><br>

    <label>Email address</label>
    <input type="email" name="email"><br>

    <label>Username</label>
    <input type="text" name="username"><br>

    <label>Password</label>
    <input type="password" name="password"><br>

    <label>Phone number</label>
    <input type="tel" name="phone-number" pattern="[0-9]{10}"><br>
    <small>Format: 123456789</small><br>

    <input type="submit" name="submit" id="create-account">

</form>
{% endblock %}