{% extends 'base.html' %}
{% block title %}Delete Admin{% endblock %}

{% block body %}
<div class="container">
    <h1>Delete Admin</h1>
    <h2>All Admin</h2>
    <form action="/handle-delete-admin" method="POST">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Check</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for admin in all_admin %}
                <tr>
                    <td><input class="form-check-input" type="checkbox" name="admin" value="{{admin.admin_id}}"></td>
                    <td>{{ admin.fname }} {{ admin.lname }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" name="submit" class="btn btn-lg">
    </form>
</div>
{% endblock %}