{% extends 'base.html' %}
{% block title %}Delete Admin{% endblock %}

{% block body %}
<div class="container">
    <h1>Delete Admin</h1>
    <h2>All Admin</h2>
    <form method="POST">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Check</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <p>List of Admin will go here</p>
            </tbody>
        </table>
        <input type="submit" name="submit" class="btn btn-lg">
    </form>
</div>
{% endblock %}