{% extends 'base.html' %}
{% block title %}Household Info{% endblock %}
{% block body %}
<form action="/handle-household-info" method="POST">
    <input type="number" name="num-people">
    <label>Number of people in household</label><br>

    Would you like peanut butter?
    <input type="radio" name="wants-peanut-butter" value=True>
    <label>Yes</label>
    <input type="radio" name="wants-peanut-butter" value=False>
    <label>No</label><br>

    Are you picking up for anyone else?
    <input type="radio" name="picking-up-for-another" value=True>
    <label>Yes</label>
    <input type="radio" name="picking-up-for-another" value=False>
    <label>No</label><br>

    <input type="submit" name="submit">

</form>

{% endblock %}