{% extends 'base.html' %}
{% block title %}Schedule Appointment{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container">
    <p>Choose a pick up time!</p>
    <form action="/handle-schedule-appt" method="POST">
    {% for appt_slot in available_appts %}
        <input type="radio" name="appt_slot" value="{{appt_slot.start_time}}">
        <label>{{ available_appts[appt_slot] }}</label><br>
    {% endfor %}
    <input type="submit" name="submit">
    </form>
</div>
{% endblock %}